@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

@keyframes blinkBackground {
  0% {
    background-color: var(
      --sensor,
    ); /* Use --sensor if defined, otherwise fallback to red */
  }
  50% {
    background-color: rgb(175, 1, 1); /* Transparent */
  }
  100% {
    background-color: var(--sensor); /* Red or --sensor */
  }
}

@keyframes blinkBorder {
  0% {
    border-color: var(--muted); 
  }
  50% {
    border-color: rgb(175, 1, 1); 
  }
  100% {
    border-color: var(--muted); 
  }
}

.blinking-border {
  /* border: 2px solid; Adjust border width as needed */
  animation: blinkBorder 1s infinite; /* 1 second duration and infinite repetition */
}

.blinking-background {
  animation: blinkBackground 1s infinite;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 202 70% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 202 70% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter";
  font-style: bold;
  font-weight: 700;
  src: url("../src/assets/fonts/Inter-Bold.ttf");
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
@media (orientation: portrait) {
  body {
    display: none;
  }
  body:before {
    content: "Por favor, gire seu dispositivo para a visualização horizontal.";
    display: block;
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
    background-color: var(--background)
  }
  .image-container {
    @apply relative overflow-hidden; /* Tailwind classes */
    width: 100%; /* 100% of the parent container */
    height: 100%; /* 100% of the parent container */
    max-width: 400px; /* max width constraint */
    max-height: 400px; /* max height constraint */
  }
  
  .image {
    @apply object-contain; /* Ensures the image fits within the container without distortion */
    width: 100%;
    height: 100%;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
